body { 
    font-family: 'Roboto', 'Sans';
    color: #aaa;
    background-color: #333;
    margin:0px;
} 

author { 
    display: inline;
    padding: 4px;
    border: 1px solid #444;
    cursor: default;
    user-select: none;
}

author:hover { 
    opacity: 0.5;
}

page { 
    padding:10px;
    font-size: 15px;
    background-color: #800;
    color: #fff;
    margin-bottom: 20px;
    display: block;
    width:100%;
}

.row-borders td  { border-bottom: 1px solid #333; }

td { 
    padding: 4px;
    font-size: 13px;
	white-space: nowrap;
}

author-details {
    z-index:200;
    overflow-y: scroll;
    width: 95%;
    height: 90%;
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 20px;
    opacity: 0.95;
    background: #222;
    border: 1px solid #444;
    cursor: default;
    user-select: none;
    display: none; 
}
